body
{
    background-size: cover;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.big_image{
    width: 100%;
}

#start,#status,#restart{
    font-size: 22px;
}

.heading{
    width: 100%;
    text-align: left;
}

#copy_right_footer{
    line-height: 2;
    margin: 0px;
    position: sticky;
    background-color: grey;
    color: white;
}